
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /*background-image: url("c.jpg");*/
  /*background-size: auto 100%;*/
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/

  /*-webkit-background-size: cover;*/
  /*-moz-background-size: cover;*/
  /*-o-background-size: cover;*/
 /*/\ background-position: center;*/

  /*margin: 10;*/
  background: url(z.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
   opacity: 40%;
  /**background-size: 90% 100%;*/


  /*background-image: url(c.jpg);*/
  /*background-repeat: no-repeat;*/
  /*background-size: contain;*/
  /*height: 100vh;*/


}
.box{
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #191919;
  text-align: center;
}
.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box input[type = "text"],.box input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #ffffff;
  padding: 10px 10px;
  width: 200px;
  outline: none;
  color: #ffffff;
  border-radius: 24px;
  transition: 0.25s;
  font-family:'Changa';
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
  /*width: 280px;*/
  border-color: #FFD136;
}
.box input[type = "submit"]{
  border:0;
  background: none;
  display: block;
  margin: 5px auto;
  text-align: center;
  width: 230px;
  border: 2px solid #FFD136;
  background: #FFD136;
  padding: 10px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  font-family:'Changa';
  font-weight: bold;
}
.box input[type = "submit"]:hover{
  background: #FFD136;
}
