
body{
    margin:0;
    padding: 0;
    background-image:url(download.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    background-repeat: no-repeat;
    height: 100%;

}
