
body{
    margin:0;
    padding: 0;
   background-image: url("a.jpg"););
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    background-repeat: no-repeat;
height: 100%;

}
